<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">436813</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/web_forum</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="current_session_context_class">thread</property> 
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!-- <property name="hbm2ddl.auto">create-drop</property>-->
        <!-- <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>-->
        <mapping resource="forum/User.hbm.xml" />
        <mapping resource="forum/Attachment.hbm.xml" />
        <mapping resource="forum/Section.hbm.xml" />
        <mapping resource="forum/Topic.hbm.xml" />
        <mapping resource="forum/Post.hbm.xml" />
    </session-factory>
</hibernate-configuration>

