* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
	cursor: pointer;
}

#shadowing {
    position: fixed;
    display: none;
    margin: -30px 0 0 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 90;
}

.content {
    width: 600px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header {
    display: block;
    background-color: #4056a1;
    width: 100%;
    height: 130px;
    color: #efe2ba;
}

.header-title {
    float: left;
    height: 100%;
    width: 65%;
}  

.header-title h1 {
    padding: 40px 0 0 30px;
    text-align: left;
}

.user-info {
    font-size: 0.9em;
    height: 100%;
    display: block;
    float: right;
    width: 25%;
    text-align: center;
}

.user-info-container {
    width: 90%;
    margin-top: 8%;
    background-color: #c5cbe3;
}

.user-info p {
    font-size: 0.9em;
    padding: 0 !important; 
    margin: 0;
    color: #4056a1;
}

.user-info a {
    margin: 0;
    color: #4056a1;
    font-weight: bold;
}

.user-info .username {
    font-size: 1em;
    background-color: #d79922;
    color: #4056a1;
    padding: 2px;
    margin-bottom: 3px;
}

.user-info .logout {
    display: inline-block;
    text-decoration: none;
    background-color: #f13c20;
    color: white;
    padding: 0px 9px;
    margin: 5px 0;
    border-radius: 3px;
}

.user-info .logout:hover {
    background-color: #f6816f;
}

.user-list {
    background-color: #efe2ba;
    padding-bottom: 10px;
}

.user-page button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #f13c20;
    color: #efe2ba;
}

.user-page button:hover {
    background-color: #f6816f;
}

.user-page {
	background-color: #efe2ba;
    padding: 10px;
}

.user-page a {
    color: #4056a1;
}

.user-page h3 {
	text-align: center;
    font-size: 1.5em;
    color: #f13c20;
}

.user-list a {
	margin: 0px !important;
	padding: 0px !important;
}

.add-user-button {
	width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #f13c20;
    color: #efe2ba;
    font-weight: bold;
}

.user-list h3{
    padding-top: 10px;
    text-align: center;
    font-size: 1.3em;
    color: #f13c20;
}

.user-list h4 {
    padding: 10px 0 0 10px;
}

.user-list ul {
    padding-left: 30px;
}

.user-list ol {
    padding-left: 30px;
}

.user-list a {
    padding: 5px;
    margin: 10px;
    color: #4056a1;
}

.user-info p {
    padding-left: 10px;
}

.user-info button {
    margin: 10px 10px 0 10px;
    padding: 5px;
}

.user-info a {
    line-height: 2em;
    margin-top: 20px;
}

.sections {
    margin: 0;
    padding: 0 10px 10px 10px;
    background-color: #efe2ba;
}

.sections h3 {
    font-size: 1.3em;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    color: #f13c20;
}

.sections > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sections > ul > li {
    background-color: #d79922;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
}

.sections > ul > li:hover {
    background-color: #e0a538;
}

.sections > ul > li.row {
    background-color: rgba(0, 0, 0, 0);
}

.sections > ul > li > a {
    display: inline-block;
    width: 88%;
    height: 100%;
    padding: 10px;
    color: #4056a1;
    font-weight: bold;
    text-decoration: none;
}

.sections > button {
    margin-top: 10px;
    padding: 10px;
    font-size: 0.9em;
    background-color: #f13c20;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #efe2ba;
}

.sections > button:hover {
    background-color: #f6816f;
}

.sections ul .delete {
    display: block;
    float: right;
    border-radius: 50%;
    border: none;
    background: url('delete2.png') no-repeat;
    height: 25px;
    width: 25px;
    margin: 10px 10px 10px 0;
    text-align: right;
    cursor: pointer;
}

.popup {
	display: none;
    z-index: 100;
}

.row {
    padding-right: 2px !important;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}
  
.left {
    width: 15%;
}

.middle {
    width: 79%;
    margin-left: 10px;
}

.right {
    width: 4%;
}

.user .username {
    font-weight: bold;
    font-size: 0.9em;
    color: #d79922;
}

.user .username > a {
    color: #d79922;
    font-weight: bold;
    text-decoration: none;
}

.user .username > a:hover {
    color: #e0a538;
}

.usertype {
    font-size: 0.8em;
}

.user {
    border-radius: 3px;
    text-align: center;
    background-color: #4056a1;
    padding: 5px 0;
    color: #efe2ba;
}



.message-date {
    padding: 2px 8px;
    background-color: #4056a1;
    color: #c5cbe3;
    font-size: 0.8em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.img-attachment {
    border-radius: 5px;
    margin: 5px auto;
    display: block;
}

.message-text {
    padding: 8px;
    font-size: 0.9em;
    background-color: #c5cbe3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sections ul .message-delete {
    display: block;
    border-radius: 50%;
    border: none;
    background: url('delete2.png') no-repeat;
    height: 21px;
    width: 21px;
    float: right;
    text-align: right;
    cursor: pointer;
}

.delete-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    background-color: #4056a1;
    border: 1px solid #2c3b6d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 270px;
}

.delete-popup h3 {
    padding: 0;
    color: #d79922;
}

.delete-popup p {
    text-align: center;
    margin: 10px 0;
    color: #efe2ba;
}

.delete-popup button:hover {
    background-color: #e0a538;
}

.a-delete {
    padding: 0 !important;
}

.a-delete a {
    display: block;
    margin: 0;
    padding: 5px !important;
    text-decoration: none;
    color: #4056a1;
}

.popup button {
    border: none;
    border-radius: 5px;
    background-color: #d79922;
    color: #4056a1;
    padding: 5px;
    font-weight: bold;
}

.new-post {
    width: 100%;
}

.new-post h4 {
    margin-top: 10px;
}

.new-post textarea {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
    height: 5em;
}

.new-post button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #efe2ba;
    background-color: #f13c20;
    font-weight: bold;
}

.new-post button:hover {
    background-color: #f6816f;
}

.new-user-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    background-color: #4056a1;
    border: 1px solid #2c3b6d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: left;
}

.new-user-popup h3 {
	font-size: 1em;
    padding: 0;
    color: #d79922;
}

.new-user-popup input {
	width: 270px;
	font-size: 0.8em;
	padding: 2px 0;
	margin: 5px 0 10px 0;
}

.new-user-popup select {
	width: 100%;
	padding: 2px 0;
	margin-bottom: 10px;
}

.new-user-popup label {
	font-weight: normal;
    font-size: 0.8em;
    color: #d79922;
}

.date-popup {
	width: 214px;
}

.date-popup input {
	font-size: 1em;
}

.date-change {
	display: inline;
	border: none;
	background: none;
	font-size: 1em;
	text-decoration: underline;
	color: #4056a1;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    background-color: #4056a1;
    border: 1px solid #2c3b6d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    
}

.form-popup h3 {
    padding: 0;
    color: #d79922;
}

.form-popup input {
    padding: 5px;
    margin: 10px 0 10px 0;
    width: 200px;
}

.buttons {
    width: 100%;
    height: 100%;
}

.buttons button {
    padding: 5px;
    width: 45%;
}

.buttons .add {
    float: left;
}

.buttons .cancel {
    float: right;
}

.login-content {
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #efe2ba;
    border: 1px solid #d79922;
    width: 500px;
    text-align: center;
    color: #4056a1;
}

.login-content h1 {
    margin: 10px;
    color: #4056a1;
}

.login-content h2 {
    font-weight: normal;
    margin: 0 10px 20px 10px;
}

.login-content input {
    padding: 10px;
    font-size: 1.1em;
    margin-bottom: 10px;
    background-color: #4056a1;
    border: none;
    border-radius: 5px;
    color: #efe2ba;
}

.login-content input::placeholder {
    color: #c5cbe3;
}

.login-content button {
    font-size: 1.1em;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f13c20;
    color: #efe2ba;
    font-weight: bold;
}

.login-content button:hover {
    background-color: #f6816f;
}

.login-content .error {
    border: 1px solid red;
    background-color: lightcoral;
    padding: 5px;
    margin: 15px auto;
    width: 70%;
    color: maroon;
    text-align: center;
}

.error-message {
	border: 1px solid red;
    background-color: lightcoral;
    padding: 5px;
    color: maroon;
    margin-top: 10px;
}

.link-container {
    margin: 0 10px;
    display: inline-block;
    background-color: #f13c20;
    padding: 10px;
    font-size: 0.9em;
    color: #efe2ba;
    border-radius: 5px;
}

.link-container:hover {
    background-color: #f6816f;
}

.link-container > a {
    color: #efe2ba;
    text-decoration: none;
    font-weight: bold;
}

.all-users {
    margin: 0 10px;
}