* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#shadowing {
    position: fixed;
    display: none;
    margin: -30px 0 0 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 90;
}

.content {
    width: 600px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header {
    display: block;
    background-color: silver;
    width: 100%;
    height: 130px;
}

.header-title {
    float: left;
    height: 100%;
    width: 65%;
}  

.header-title h1 {
    padding: 40px 0 0 30px;
    text-align: left;
}

.user-info {
    font-size: 0.9em;
    height: 100%;
    display: block;
    float: right;
    width: 25%;
    text-align: center;
}

.user-info-container {
    width: 90%;
    margin-top: 8%;
    background-color: seashell;
}

.user-info p {
    font-size: 0.9em;
    padding: 0 !important; 
    margin: 0;
}

.user-info .username {
    font-size: 1em;
    background-color: slategrey;
    color: white;
    padding: 2px;
    margin-bottom: 3px;
}

.user-info .logout {
    display: inline-block;
    text-decoration: none;
    background-color: darkslategray;
    color: white;
    padding: 0px 9px;
    margin: 5px 0;
    border-radius: 3px;
}

.user-info .logout:hover {
    background-color: slategray;
}
.user-list {
    background-color:rgb(230, 230, 230);
    padding-bottom: 10px;
}

.user-list h3{
    padding-top: 10px;
    text-align: center;
    font-size: 1.3em;
}

.user-list h4 {
    padding: 10px 0 0 10px;
}

.user-list ul {
    padding-left: 30px;
}

.user-list ol {
    padding-left: 30px;
}

.user-list a {
    padding: 5px;
    margin: 10px;
}

.user-info p {
    padding-left: 10px;
}

.user-info button {
    margin: 10px 10px 0 10px;
    padding: 5px;
}

.user-info a {
    line-height: 2em;
    margin-top: 20px;
}

.sections {
    margin: 0;
    padding: 0 10px 10px 10px;
    background-color:rgb(230, 230, 230);
}

.sections h3 {
    font-size: 1.3em;
    padding-top: 10px;
    margin: 0;
    text-align: center;
}

.sections > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sections > ul > li {
    background-color: silver;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}

.sections > button {
    margin-top: 10px;
    padding: 5px;
}

.sections .delete {
    display: block;
    float: right;
    border-radius: 50%;
    border: none;
    background: url('delete2.png') no-repeat;
    height: 25px;
    width: 25px;
    text-align: right;
}

.new-post {
    width: 100%;
}

.new-post h4 {
    margin-top: 10px;
}

.new-post textarea {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
    height: 5em;
}

.new-post button {
    padding: 5px;
}

.form-popup {
    border: 1px solid green;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    background-color: silver;
    border: 1px solid gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.form-popup h3 {
    padding: 0;
}

.form-popup input {
    padding: 5px;
    margin: 10px 0 10px 0;
    width: 200px;
}

.buttons {
    width: 100%;
    height: 100%;
}

.buttons button {
    padding: 5px;
    width: 45%;
}

.buttons .add {
    float: left;
}

.buttons .cancel {
    float: right;
}

#add-section-form {
    display: none;
    z-index: 100;
}

.login-content {
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: silver;
    border: 1px solid gray;
    width: 500px;
    text-align: center;
}

.login-content h1 {
    margin: 10px;
}

.login-content h2 {
    font-weight: normal;
    margin: 0 10px 20px 10px;
}

.login-content input {
    padding: 5px;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.login-content button {
    font-size: 1.1em;
    padding: 10px;
    margin-bottom: 20px;
}

.login-content .error {
    border: 1px solid red;
    background-color: lightcoral;
    padding: 5px;
    margin: 15px auto;
    width: 70%;
    color: maroon;
    text-align: center;
}